%div(class="container-fluid")
  %div(class="row py-md-3 pl-md-5")
    %div(class="card mx-auto text-center align-middle border-primary" style="width: 1000px;")
      %div(class="card-body")
        %h1(class="card-title")
          %b SoundStackへようこそ!!
